{% extends 'index.html' %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

<body class="container">
    <div class="row">
    <div class="col-sm"></div>

    <form method="post" class="container col-sm">
        <div class="mb-3">
            <label class="form-label" for="id">ID</label>
            <input class="form-control" name="id" id="id" required><br>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required><br>
        </div>
        <span><input class="btn btn-secondary" type="submit" value="Login"></span>
        <span><input class="btn btn-secondary" type="button" onClick="window.location.href='/register';" value="Register" /></span>
        <h2>{{ loginError }}</h2>
    </form>
    
    
    <div class="col-sm"></div>
    
</div>
</body>

{% endblock %}