{% extends 'index.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<body>
    <form method="post" enctype="multipart/form-data">
        <label for="id">ID</label>
        <input name="id" id="id" required><br>
        <label for="username">Username</label>
        <input name="username" id="username" required><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required><br>
        <label for="image">User Image</label>
        <input type="file" id="image" name="image" accept="image/*" formenctype="multipart/form-data"><br>
        <input type="submit" value="Register">
    </form>
    {{ registerError }}
</body>

{% endblock %}